.frst-sec-img-div {
    margin: 30px 0;
}
.aws-logo {
    width: 200px;
    border: 2px solid #FF9900;
    border-radius: 5px;
}
.scnd-sec {
    background-color: #232F3E;
    color: #FFFFFF;
    padding: 50px 0;
}
.inp-fld {
    width: 100%;
    border: 1px solid FF9900;
}
.lnch-inst-btn {
    background-color: #FF9900;
    color: #FFFFFF;
    border: none;
    width: 160px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0;
    margin-top: 5px;
}
.inst-steps {
    border: 1px solid #FF9900;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}
.steps-title {
    background-color:dimgray;
    padding: 10px;
    margin-bottom: 10px;
}